.product {
  max-width: 1150px;
  margin: auto;
  .mainInfo {
    display: flex;
    column-gap: 3rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: 1000px) {
      display: block;
    }
    .left {
      width: 60%;
      @media only screen and (max-width: 1000px) {
        width: 100%;
      }
    }
    .right {
      width: 40%;
      @media only screen and (max-width: 1000px) {
        width: 100%;
        padding: 1rem 0;
      }
      .info {
        .miniDivider {
          width: 20px;
          margin: 4px 0;
          height: 1px;
          background-color: rgb(var(--lightGray));
        }
        .store {
          font-size: 1.2rem;
          font-weight: 500;
          color: rgb(var(--grayLight));
        }
        .name {
          font-size: 2rem;
          color: rgb(var(--dark));
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        .description {
          color: rgb(var(--gray));
          margin: 1rem 0;
        }
        .bids {
          margin-bottom: 1rem;
          .title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            .icon {
              display: flex;
              align-items: center;
              column-gap: 0.5rem;
            }
            .plus {
              display: flex;
              align-items: center;
              column-gap: 0.5rem;
            }
          }
          .list {
            padding: 0.5rem 0;
            .item {
              font-size: 0.8rem;
              display: flex;
              column-gap: 0.5rem;
              border-bottom: 1px solid rgb(var(--lightGray));
              padding: 0.3rem;
              .user {
                font-weight: 600;
              }
              .date {
                width: 100%;
                text-align: right;
                justify-self: flex-end;
              }
            }
          }
          .more {
            padding: 0.5rem;
            text-align: right;
          }
        }
        .timeContainer {
          background-color: rgb(var(--light));
          margin-bottom: 1rem;
          .title {
            font-size: 1.4rem;
            color: rgb(var(--success));
            font-weight: 500;
            text-align: center;
            padding-bottom: 0.8rem;
          }
          .time {
            background-color: rgb(var(--light));
            color: rgb(var(--dark));
            text-align: center;
            padding: 1.2rem 0 1.2rem 3.5rem;
            font-size: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 2rem;
            @media only screen and (max-width: 1000px) {
              justify-content: center;
              padding: 1rem 0;
            }
            .head {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.8rem;
            }
            .text {
              font-size: 0.8rem;
              color: rgb(var(--gray));
            }
          }
        }
        .buy {
          margin: 1rem 0;
          button {
            display: block;
            background-color: rgb(var(--dark));
            color: white;
            width: 100%;
            padding: 1rem;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            transition-duration: 0.2s;
            &:hover {
              transition-duration: 0.2s;
              background-color: rgb(var(--primary));
            }
          }
        }
        .actions {
          .action {
            display: flex;
            align-items: center;
            column-gap: 0.6rem;
            transition-duration: 0.2s;
            .name {
              font-size: 1rem;
              margin-top: 0.4rem;
            }
            &:hover {
              transition-duration: 0.2s;
              color: rgb(var(--primary));
              .name {
                transition-duration: 0.2s;
                color: rgb(var(--primary));
              }
            }
          }
        }
      }
    }
  }
  .moreInfo {
    width: 100%;
  }
  .noAccount {
    padding: 2rem;
    text-align: center;
    color: rgb(var(--gray));
    .link {
      color: rgb(var(--primary));
      font-weight: 500;
      transition-duration: 0.2s;
      &:hover {
        transition-duration: 0.2s;
        color: rgb(var(--primaryDark));
      }
    }
  }
}
