.header {
  padding: 1rem;
  padding-top: 6rem;
  display: flex;
  background-position: center;
  background-size: cover;
  color: white;
  .headerFlex {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  @media only screen and (max-width: 1000px) {
    padding: 4rem 2rem;
  }
}

.auctionSection {
  margin: 4rem 0 8rem 0;
  @media only screen and (max-width: 1000px) {
    padding: 1rem;
    margin: 2rem 0;
  }
}

.featuredSection {
  margin: 4rem 0 8rem 0;
  @media only screen and (max-width: 1000px) {
    padding: 1rem;
    margin: 2rem 0;
  }
}

.storesSection {
  margin: 4rem 0 8rem 0;
  @media only screen and (max-width: 1000px) {
    margin: 2rem 0;
    padding: 1rem;
  }
}

.productsSection {
  margin: 4rem 0;
  @media only screen and (max-width: 1000px) {
    padding: 1rem;
    margin: 2rem 0;
  }
}

.contactSection {
  margin: 4rem 0;
  padding: 4rem 0;
  background-image: url("/img/contact.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: white;
  .imageContainer {
    width: 70%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
  .image {
    width: 100%;
  }
  .contact {
    text-align: center;
    p {
      font-size: 1.2rem;
      margin: 0.8rem 0;
      font-weight: 300;
      color: white;
    }
  }
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
  @media only screen and (max-width: 1000px) {
    margin: 8rem 0;
    height: 100vh;
  }
}
