.productPage {
  padding: 10rem 0;
  @media only screen and (max-width: 1000px) {
    padding: 5rem 1rem;
  }
  .product {
    max-width: 1150px;
    margin: auto;
    .mainInfo {
      display: flex;
      column-gap: 3rem;
      margin-bottom: 2rem;
      @media only screen and (max-width: 1000px) {
        display: block;
      }
      .left {
        width: 60%;
        @media only screen and (max-width: 1000px) {
          width: 100%;
        }
        .gallery {
          display: flex;
          column-gap: 1rem;
          @media only screen and (max-width: 1000px) {
            display: block;
          }
          .thumbs {
            width: 15%;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            @media only screen and (max-width: 1000px) {
              width: 100%;
              flex-direction: row;
              column-gap: 1rem;
              margin-bottom: 1rem;
            }
            .thumb {
              width: 100%;
              height: 100px;
              background-position: center;
              background-size: cover;
              @media only screen and (max-width: 1000px) {
                width: 100px;
                height: 80px;
              }
            }
          }
          .mainImage {
            width: 80%;
            @media only screen and (max-width: 1000px) {
              width: 100%;
              margin-bottom: 1rem;
            }
            .image {
              position: relative;
              width: 100%;
              height: 700px;
              background-position: center;
              background-size: cover;
              @media only screen and (max-width: 1000px) {
                height: 400px;
              }
              .fullScreenIcon {
                position: absolute;
                top: 1.5rem;
                right: 1.8rem;
                width: 40px;
                height: 40px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
                transition-duration: 0.2s;
                &:hover {
                  background-color: rgb(var(--primary));
                  transition-duration: 0.2s;
                  svg {
                    color: white;
                  }
                }
                @media only screen and (max-width: 1000px) {
                  top: 1rem;
                  right: 1rem;
                }
              }
            }
          }
        }
      }
      .right {
        width: 40%;
        @media only screen and (max-width: 1000px) {
          width: 100%;
          padding: 1rem 0;
        }
        .info {
          .miniDivider {
            width: 20px;
            margin: 4px 0;
            height: 1px;
            background-color: rgb(var(--lightGray));
          }
          .store {
            font-size: 1.2rem;
            font-weight: 500;
            color: rgb(var(--grayLight));
          }
          .name {
            font-size: 2rem;
            color: rgb(var(--dark));
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
          .price {
            font-weight: 500;
            font-size: 1.8rem;
            .bestBid {
              color: rgb(var(--grayLight));
              font-size: 1rem;
            }
          }
          .success {
            font-weight: 500;
            font-size: 1rem;
            color: rgb(var(--success));
            background-color: rgb(var(--successLight));
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            padding: 1rem;
            margin: 1rem 0;
            border-radius: 5px;
          }
          .description {
            color: rgb(var(--gray));
            margin: 1rem 0;
          }
          .bids {
            margin-bottom: 1rem;
            .title {
              width: 100%;
              display: flex;
              justify-content: space-between;
              font-weight: 600;
              .icon {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
              }
              .plus {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
              }
            }
            .list {
              padding: 0.5rem 0;
              .item {
                font-size: 0.8rem;
                display: flex;
                column-gap: 0.5rem;
                border-bottom: 1px solid rgb(var(--lightGray));
                padding: 0.3rem;
                .user {
                  font-weight: 600;
                }
                .date {
                  width: 100%;
                  text-align: right;
                  justify-self: flex-end;
                }
              }
            }
            .more {
              padding: 0.5rem;
              text-align: right;
            }
          }
          .timeContainer {
            background-color: rgb(var(--light));
            margin-bottom: 1rem;
            .title {
              font-size: 1.4rem;
              color: rgb(var(--success));
              font-weight: 500;
              text-align: center;
              padding-bottom: 0.8rem;
            }
            .time {
              background-color: rgb(var(--light));
              color: rgb(var(--dark));
              text-align: center;
              padding: 1.2rem 0 1.2rem 3.5rem;
              font-size: 2rem;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              column-gap: 2rem;
              @media only screen and (max-width: 1000px) {
                justify-content: center;
                padding: 1rem 0;
              }
              .head {
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.8rem;
              }
              .text {
                font-size: 0.8rem;
                color: rgb(var(--gray));
              }
            }
          }
          .buy {
            margin: 1rem 0;
            button {
              display: block;
              background-color: rgb(var(--dark));
              color: white;
              width: 100%;
              padding: 1rem;
              font-size: 1.2rem;
              margin-bottom: 1rem;
              transition-duration: 0.2s;
              &:hover {
                transition-duration: 0.2s;
                background-color: rgb(var(--primary));
              }
            }
          }
          .actions {
            .action {
              display: flex;
              align-items: center;
              column-gap: 0.6rem;
              transition-duration: 0.2s;
              .name {
                font-size: 1rem;
                margin-top: 0.4rem;
              }
              &:hover {
                transition-duration: 0.2s;
                color: rgb(var(--primary));
                .name {
                  transition-duration: 0.2s;
                  color: rgb(var(--primary));
                }
              }
            }
          }
        }
      }
    }
    .moreInfo {
      width: 100%;
    }
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    .modalContent {
      width: 750px;
      height: 450px;
      background-color: white;
      border-radius: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 4rem;
      position: relative;
      .modalClose {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
      }
      .modalIcon {
        background-color: rgb(var(--light));
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: rgb(var(--primary));
        }
      }
      .modalTitle {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem 0;
      }
      .modalText {
        font-size: 1rem;
        color: rgb(var(--gray));
        margin-bottom: 1rem;
      }
      .modalError {
        font-size: 1rem;
        color: rgb(var(--danger));
        background-color: rgb(var(--dangerLight));
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 1rem;
        font-size: 0.9rem;
        column-gap: 0.8rem;
      }
      .modalForm {
        form {
          width: 100%;
          .input {
            display: block;
            margin: auto;
            width: 100%;
            max-width: 200px;
            text-align: center;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1.2rem;
            line-height: 1.2rem;
            border: 1px solid rgb(var(--lightGray));
            margin-bottom: 1rem;
            &:focus {
              outline: none;
              border: 1px solid rgb(var(--primary));
            }
            &::placeholder {
              font-size: 1rem;
              line-height: 1rem;
            }
            &.danger {
              border: 1px solid rgb(var(--danger));
            }
          }
          button {
            background-color: rgb(var(--dark));
            color: white;
            width: 100%;
            height: 45px;
            max-width: 200px;
            padding: 0.7rem;
            font-size: 1rem;
            margin: auto;
            margin-bottom: 1rem;
            transition-duration: 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;
            .spinner {
              animation-name: spin;
              animation-duration: 500ms;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
            @keyframes spin {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
            &:hover {
              transition-duration: 0.2s;
              background-color: rgb(var(--primary));
            }
            &.disabled {
              cursor: not-allowed;
              background-color: rgb(var(--gray));
            }
          }
        }
      }
    }
  }
}
